{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<h3> Lista de multas registradas </h3>
<hr>
<div class= "table-responsive">
<table class= "table table-striped" >
    <tr>
       
        <th> Nome </th>
        <th> Descrição </th>
        <th> Opção </th>
    </tr>

        {% for multa in object_list %}
        <tr>
            
            <td> {{ multa.nome }} </td>
            <td> {{ multa.descricao }} </td>
            <td>
               <a href="{% url 'editar-multa' multa.pk %}" class = "btn btn-warning btn-sm">Editar</a>
               <a href="{% url 'excluir-multa' multa.pk %}" class = "btn btn-danger btn-sm">Excluir</a>
            </td>

        </tr>
        
        {% empty %}
        <tr>
        
            <td colspan="3"> Nenhuma multa registrada </td>

        </tr>
        {% endfor %}
    
</table>
</div>



{% endblock %}